/* Error: Undefined mixin.
 *    ,
 * 17 | / @include breakpoints((
 * 18 | |     xlarge:   ( 1281px,  1680px ),
 * 19 | |     large:    ( 981px,   1280px ),
 * 20 | |     medium:   ( 737px,   980px  ),
 * 21 | |     small:    ( 481px,   736px  ),
 * 22 | |     xsmall:   ( 361px,   480px  ),
 * 23 | |     xxsmall:  ( null,    360px  )
 * 24 | | ));
 *    | '--^
 *    '
 *   assets/sass/main.scss 17:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 17 \2502  \250c  @include breakpoints((\a 18 \2502  \2502      xlarge:   ( 1281px,  1680px ),\a 19 \2502  \2502      large:    ( 981px,   1280px ),\a 20 \2502  \2502      medium:   ( 737px,   980px  ),\a 21 \2502  \2502      small:    ( 481px,   736px  ),\a 22 \2502  \2502      xsmall:   ( 361px,   480px  ),\a 23 \2502  \2502      xxsmall:  ( null,    360px  )\a 24 \2502  \2502  ));\a    \2502  \2514 \2500 \2500 ^\a    \2575 \a   assets/sass/main.scss 17:1  root stylesheet";
}
